<!DOCTYPE html>
<html>
<head>
  <title>Rock Paper Scissors</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/rock/paper">Rock vs Paper</a></li>
<li><a href="/paper/scissors">Paper vs Scissors</a></li>
<li><a href="/rock/scissors">Rock vs Scissors</a></li>
</ul>
</nav>
  <%= yield %>
</body>
</html>